body {
    margin: 0;
}

.app {
    background-image: url('../assets/BackgroundMorning.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;

    &.dark {
        background-image: url('../assets/BackgroundNight.png');
    }
}