body {
    .Instructions {
        background-image: url('../../../assets/test.jpg'); // Background image
        background-size: 100% 100%; // Ensures the background covers the entire area
        background-position: center;
        height: 100vh; // Full viewport height
        background-repeat: no-repeat;

        .main {
            display: flex;
            flex-direction: row;
            gap: 1rem; // Space between buttons
            flex-wrap: wrap; // Wrap buttons to the next line if they don't fit
            padding: 1rem;
            max-width: 100%;
            max-height: 100%;

            .container {
                background-color: white;
                min-height: 650px;
                border-radius: 15px; // Add rounded corners
                padding: 50px; // Optional: Add some padding inside the container
                display: flex;
                flex-direction: column;
                font-size: larger;
                .content {
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // padding: 50px;
                    // font-size: larger;

                    height: 500px;
                    .check {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;

                        
                    }
                    .step {
                        padding: 10px;
                        margin-bottom: 30px;
                        font-size: xx-large;
                        font-weight: bold;
                    }
                    .instructions {
                        display: flex;
                        flex-direction: row;
                        // align-items: center;
                        .number{
                            font-weight: bold;
                        }
                    }

                    .complete {
                        font-weight: bold;
                        font-size: x-large;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .image1 {
                        height: 350px;
                        background-image: url('../../../assets/instructions1.png'); // Background image
                        background-size: 100% 100%; // Ensures the background covers the entire area
                        background-position: center;
                        
                    }

                    .image2 {
                        height: 350px;
                        background-image: url('../../../assets/instructions2.png'); // Background image
                        background-size: 100% 100%; // Ensures the background covers the entire area
                        background-position: center;
                    }

                    .image3 {
                        height: 350px;
                        background-image: url('../../../assets/instructions3.png'); // Background image
                        background-size: 100% 100%; // Ensures the background covers the entire area
                        background-position: center;
                    }

                    .image4 {
                        height: 350px;
                        background-image: url('../../../assets/instructions4.png'); // Background image
                        background-size: 100% 100%; // Ensures the background covers the entire area
                        background-position: center;
                    }
                }
                .footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: end;
                    margin-top: 20px;
                }
            }
        }
    }
}
